pipeline/pl_notebook.json
{
	"name": "pl_notebook",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/samplelearner007@outlook.com/MyDataRockstars/adf_bronze",
					"baseParameters": {
						"pi": "300"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final_return",
					"value": {
						"value": "@string(activity('Notebook1').output.runOutput)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"final_return": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-14T02:02:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}